* {
 font-family: "PT Sans", sans-serif; 
    }

    /* header */

    header{
background-image: url(./Imagenes/F100011964.jpg);
background-position: center;
height: 95vh;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.fondo-oscuro{
background-color: rgba(0, 0, 0, 0.468);
    }

    .btn-header{
padding: 0.5rem;
width: 50%;
border: none;
border-radius: 0.5rem;

        }

        .btn-header:hover{
background-color: black;
color: #fff;
border: 1px solid #fff

            }