* {
 font-family: "Roboto", sans-serif !important; 
    }

    /* header */

    header{
background-image: url(./Imagenes/F100011964.jpg);
background-position: center;
height: 95vh;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.fondo-oscuro{
background-color: rgba(0, 0, 0, 0.468);
    }

    .btn-header{
padding: 0.5rem;
width: 50%;
border: none;
border-radius: 0.5rem;

        }

        .btn-header:hover{
background-color: black;
color: #fff;
border: 1px solid #fff

            }

            /* footer */

            footer{
background-image: url(./Imagenes/fondofooter.webp);
background-repeat: no-repeat;
background-size: cover;
height: 6rem;
                }


                /* main */

             .div-proyectos{
width: 90%;
height: 60vh;
            }

            @media (min-width:1000px)  {
                .div-proyectos{
width: 90%;
height: auto;
                
            }
            }

