* {
 font-family: "PT Sans", sans-serif; 
    }

    header{
background-image: url(../Imagenes/F100011964.jpg);
background-position: center;
height: 95vh;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
position: relative;
      }

      footer{
background-image: url(../Imagenes/fondofooter.webp);
background-repeat: no-repeat;
background-size: cover;
height: 6rem;
                }

      main{
background-image: url(../Imagenes/F100011964.jpg);
        }

      
